@import "tailwindcss";

@layer theme {
  :root {
    --color-primary: #A855F7;

    --color-primary-hover: #9333EA;
    --color-background: #000000;

    --color-surface: #111111;

    --color-text-secondary: #b3b3b3;
    --font-sans: "Inter", sans-serif;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }


  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05);
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.4);
  }

  .animate-fadeIn {
    animation: fadeIn 0.7s ease-out forwards;
  }

  .animate-slideUp {
    animation: slideUp 0.7s ease-out forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes slideUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}


body {
  background-color: var(--color-background);
  color: white;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}
